{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <form action="{% url 'my_app:app_page' %}" method="post" style="text-align: center">
        {% csrf_token %}
        <div class="input-field col s12">
          <input  name="search" type="text" id="autocomplete-input" class="autocomplete">
          <label for="autocomplete-input">Search for the items here</label>
        </div>
        <!-- <input type="text" name="search" placeholder="Search for the items here"> -->
        <div class="row">
          <div class="col s4">
            <select value ="rose" name="rose">
              <option value="" disabled selected >Sort By</option>
              <option value="atlanta">Price High to Low</option>
              <option value="austin">Ratings Low to High</option>
              <option value="boston">Ratings High to Low</option>
            </select>
          </div>
          <div class="col s4">
            <input type="text" name="min_price" placeholder="Enter the minimum value here">
          </div>
          <div class="col s4">
            <input type="text" name="max_price" placeholder="Enter the maximum value here">
          </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action" >Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
    <br>
    {% for post in combined_list %}
      <div class="col m4 s12">
        <div class="card medium">
          <div class="card-image">
              <a href="{{ post.1 }}"><img src="{{ post.2 }}" alt=""></a>
          </div>
          <div class="card-action">
            <ul>
              <p>{{post.0 | slice:40}}..</p>
              <li><a href="{{ post.1 }}">Listing Price: {{post.3}}</a></li>
              <li><a href="{{ post.1 }}">Seller Name/Product Info: {{post.5}}</a></li>
              <li> Shipping Cost : {{post.4}}</li>
              <li>Rating: {{post.6}}/5 Website: {{post.8}} </li>
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
