{% extends 'base.html' %}
{% block content %}
<div id="nav-mobile" class="container">
  <h4 style="text-align: center">Compare all products here from various websites </h4>
  <div class="row">
      <div class="col s4">
          <!--First Icon goes here -->
          <div class="center">
              <i class="medium material-icons" style="color: #EE6E73">devices</i>
              <p>Fast Web Scraper Built with Python</p>
              <p class="light center">Get list of all webistes that has the product available (Instead of visting websites individualy get results here with beautiful GUI).</p>
          </div>
      </div>

      <div class="col s4">
          <!--Second Icon goes here -->
          <div class="center">
              <i class="medium material-icons" style="color: orange">find_replace</i>
              <p>Filter your searches</p>
              <p class="light center">Built in functionality to filter based on pricing and city with autocomplete features.</p>
          </div>
      </div>

      <div class="col s4">
          <!-- Third Icon goes here -->
          <div class="center">
              <i class="medium material-icons" style="color: blue">airplay</i>
              <p>Modern front-end using Materialize</p>
              <p class="light center">
                <a href="https://github.com/mohdnadeem94">Developed by Mohamed Nadeem Ameerdeen</a>
              </p>
          </div>
      </div>
  </div>
  <form action="{% url 'my_app:app_page' %}" method="post" style="text-align: center">
      {% csrf_token %}
      <div class="input-field col s12">
        <input  name="search" type="text" id="autocomplete-input" class="autocomplete">
        <label for="autocomplete-input">Search for the items here</label>
      </div>
      <!-- <input type="text" name="search" placeholder="Search for the items here"> -->
      <div class="row">
        <div class="col s4">
          <select value ="rose" name="rose">
            <option value="best">Best Match</option>
            <option value="plotohi">Price High to Low</option>
            <option value="rlotohi">Ratings Low to High</option>
            <option value="rhitolw">Ratings High to Low</option>
          </select>
        </div>
        <div class="col s4">
          <input type="text" name="min_price" placeholder="Enter the minimum value here">
        </div>
        <div class="col s4">
          <input type="text" name="max_price" placeholder="Enter the maximum value here">
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action" >Submit
          <i class="material-icons right">send</i>
      </button>
  </form>
</div>
{% endblock %}
